<h1> This is the post creation form </h1>

<%= form_for @post do |newpost| %>

<!-- REMEMBER TO VALIDATE/ERROR CHECK -->

<!-- include all user entry fields -->

<div class="field">
	<%= newpost.label :name %>
	<%= newpost.text_field :name %>
</div>
<div class="field">
	<%= newpost.label :description %>
	<%= newpost.text_field :description %>
</div>
<div class="field">
	<%= newpost.label :image %>
	<%= newpost.text_field :image %>
</div>

<div class="actions">
	<%= newpost.submit %>
</div>

<% end %>