<div class="welcomepage">
	<div class="row">
		<div class="medium-6 medium-centered large-4 large-centered columns">
			<%= form_tag sessions_path do %>
			 	<div class="row column log-in-form">
			 		<h4 class="text-center">
			 		Welcome to Cabin Collective.<br> 
			 		Please Login Or Create a New User
			 		</h4>	
			 		<%= label_tag :email %>
			 		<%= email_field_tag :email %>
			 		<br>
			 		<%= label_tag :password%>
			 		<%= password_field_tag :password%>
			 	</div>
			 	<div class="text-center">
			 		<%= submit_tag "Log in" %>
			 	</div>
			 	<div class="text-center">
			 		<%= link_to "Create a new user", "/users/new" %> 
		 		</div>
			<% end %>
		</div>
	</div>	
</div>
