<!-- will have link to render form for creating new link--> 
<!-- will display user info - their posts, their likes, create new posts -->

		<h1> This is for logged in users only </h1>
<!-- their posts-->
	<p> Posts </p>
	<br>

	<% @currentUserPosts.each do |post| %>

	<img src="<%=post.image %>", style="display: block;">
	Name: <%= post.name %>
	<br>
	<br>
	Description: <%= post.description %>

	<br>
	<p>
	<%= link_to "Edit Post", edit_post_path(post) %> </p>
	<p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>

	<%end%>


	<br>
	<p> Likes </p>
	<br>

	<!--Post.find(params[:id]).likes.create(user_id: current_user.id) -->

	<% @currentUserLikes.each do |like| %>

	<img src="<%=like.post.image %>" style="display: block;"/>
	<br>
	<%=	like.post.name %>
	<br>
	<%= like.post.description %>

	<%end%>

<!-- link to new post create form-->
	<br>
	<br>
	<%= link_to "Create New Post",  "/posts/new" %>
	<br>
	<br>
	<%= link_to "See the Collective", "/posts" %>

