
<img src="/assets/logo.png" style="width: 70px; height: 70px;"> 
<h1> Cabin Collective </h1>		

<% @posts.each do |post| %>
	<br>
	<br>
	<br>
	<img src="<%= post.image %>">
	<%= post.name %>
	<br>
	<br>
	<br>
	<p><%= post.likes.count%><p>  </p><%= pluralize_without_count(post.likes.count) %></p>

	<%=link_to has_liked?(post),"/posts/#{post.id}/like" %>
	<br>
	<%= post.description %>	
<%end%>

