<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "Cabin Collective" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller_name %>">
    <div style=" width: 100%; display: block;">
    <%= render "/layouts/header" %>
    </div>
    <img src="/assets/logo.png" style="margin:0 auto; width: 10%; display: block;"> 
    <h1 style="text-align: center"> Cabin Collective </h1>
    <main><%= yield %></main>

  </body>
</html>
